@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');

html,body{
    margin: 10;
    padding: 0;
}

body{
    font-size: 20px;
}
.nav{
    width: 100%;
    background: blue;
    padding-left: 45px;
    padding-right: 45px;
    box-sizing: border-box;
    display: flex;
}

.navLogo{
    width: 100%;
    background: red;

}

.navLogo > img{
    height:35px;
    display: block;
}

.navMenu{
    width: 100%;
    background: green;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navMenu > .menus{
    margin-right: 10px;
    background: yellow;
}


.introLeftText{
    font-family: 'Notable', sans-serif;
    font-size: 50px;
}

.introRightText{
    display: flex;

}

.Origin{
    background-color: brown;
}


.Fashion{
    background-color: pink;
}

.Music{
    background-color: blue;

}

.Resurgence{
    background-color: yellow;

}