@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vast+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Saira+Stencil+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Slackey&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap');

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-size: 20px;
}

.nav {
    width: 100%;
    padding-top: 45px;
    padding-left: 45px;
    padding-right: 45px;
    box-sizing: border-box;
    display: flex;
}

.navLogo {
    width: 100%;
}

.navLogo>img {
    height: 35px;
    display: block;
}

.navMenu {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Oswald', sans-serif;
}

.navMenu>.menus {
    margin-right: 10px;
}

.navMenu>.menus>a {
    color: black;
    text-decoration: none;
}


.intro {
    display: flex;
    max-width: 1200px;
    margin: 150px auto;
    align-items: center;
}

.introLeftText {
    font-family: 'Notable', sans-serif;
    font-size: 70px;
    width: 60%;
}

.introRightText {
    display: flex;
    width: 40%;
    height: auto;
    margin-left: 62px;
    border: 1px solid black;
    padding: 24px 16px 24px 16px;
    margin-left: 50px;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    background-image: url('https://media.tenor.com/CPppflzCUYYAAAAC/future-ram-ranch.gif');
    opacity: 0.7;
}



/*------------------ORIGIN---------------------*/



.OriginHead {
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 30px;
    /* box sizing border box: wdith and height in a context box */
    box-sizing: border-box;
    font-family: 'Rajdhani', sans-serif;
    font-size: 40px;

}

.OriginContent {
    background-image: url('https://static.wikia.nocookie.net/aesthetics/images/a/a4/Tumblr_oivwukbROc1v0jfsto8_1280.jpg/revision/latest/scale-to-width-down/1000?cb=20190727185311');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

.Origin .OriginImage {
    text-align: center;
}

.Origin .OriginImage img {
    width: 50%;
    padding: 50px;
}

.OriginText {
    padding: 30px;
    margin-left: 60px;
    margin-right: 60px;
    font-family: 'Audiowide', sans-serif;
    

}

.history {
    background-color: yellow;
}

.HistoryHead {
    margin-left: 60px;
}

.HistoryText {
    display: flex;
    border-top: 1px solid black;
}

.HistoryText .part1 {
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    font-family: 'Secular One', sans-serif;
    background-image: url('https://i.pinimg.com/originals/53/78/af/5378afc474a5702cdacf5cdbbb960c49.gif');
    color: rgb(166, 255, 0);
}

.HistoryText .part2 {
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border-left: 1px solid black;
    border-right: 1px solid black;
    font-family: 'Secular One', sans-serif;
    background-image: url('https://i.gifer.com/187Y.gif');
    color: red;

}

.HistoryText .part3 {
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    font-family: 'Secular One', sans-serif;
    background-image: url('https://64.media.tumblr.com/716cc6e921e38f963793841de04a0a3a/tumblr_meshtxKNYm1qedb29o1_500.gif');
    color: white;
    display: flex;
    align-items: center;
}




/*------------------FASHION---------------------*/
.FashionHead {
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 30px;
    box-sizing: border-box;
    font-family: 'Rajdhani', sans-serif;
    font-size: 40px;
}

.FashionContent {
    background-image: url('https://i.pinimg.com/originals/2b/01/99/2b01994f7efefdb94980e09df26ff986.gif');
}

.Fashion .FashionImage {
    display: flex;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}

.Fashion .FashionImage .ImageList {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.Fashion .FashionImage .ImageList img {
    width: 100%;
}

.FashionText {
    padding: 50px;
    margin-left: 60px;
    margin-right: 60px;
    font-family: 'Vast Shadow', serif;}

mark {
    background-color: rgba(255, 192, 203, 0.663);
    color: black;
}



/*------------------MUSIC---------------------*/
.Music .MusicHead {
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 30px;
    box-sizing: border-box;
    font-family: 'Rajdhani', sans-serif;
    font-size: 40px;
}


.Music .ContentOne {
    display: flex;
    align-items: center;
    background-color: rgba(245, 245, 220, 0.523);
}

.Music .MusicText {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    font-family: 'Bungee Shade', sans-serif;
    text-align: center;
    font-size: 30px;
    padding: 30px;
}

.Music .BigImageRight {
    box-sizing: border-box;
    display: flex;
    align-items: center;
}


.Music .MusicImage {
    display: flex;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    box-sizing: border-box;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-image: url('https://i.pinimg.com/originals/88/63/f7/8863f70a84c056747200a58119f10694.gif');
    background-attachment: fixed;
    background-size: cover;

}

.Music .MusicImage .MusicList {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.Music .MusicImage .MusicList img {
    width: 100%;
}



/*------------------MUSIC content 3---------------------*/

.Music .ContentThree {
    display: flex;
    align-items: center;
    background-color: rgba(245, 245, 220, 0.523);
}

.Music .ContentThree .BigImageLeft {
    display: flex;
    align-items: center;
}

.Music .MusicTextBottom {
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    font-family: 'Saira Stencil One', sans-serif;
    text-align: center;
    font-size: 20px;

}

.Music .MusicTextBottom .BigImageLeft {
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}



/*------------------RESURGENCE---------------------*/
.ResurgenceHead {
    box-sizing: border-box;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 30px;
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
    font-size: 40px;
}


.ResurgenceContent{
    background-image: url('https://media.tenor.com/mEMkT2gzPGsAAAAC/y2k.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;

}

.Resurgence .firstpart {
    box-sizing: border-box;
    align-items: center;
    font-family: 'Slackey', sans-serif;
}

.Resurgence .firstpart .firstcontents {
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.Resurgence .firstparttext {
    padding: 30px;
    width: 80%;

}

.Resurgence .firstpartimage {
    width: 20%;
}

.Resurgence .firstpartimage img {
    width: 100%;
    display: block;
}




.Resurgence .secondpart {
    box-sizing: border-box;
    align-items: center;
    font-family: 'Slackey', sans-serif;
}

.Resurgence .secondpart .secondcontents {
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.Resurgence .secondparttext {
    padding: 30px;
    width: 50%;
}

.Resurgence .secondpartimage {
    width: 50%;
}

.Resurgence .secondpartimage img {
    width: 100%;
    display: block;
}



.Resurgence .thirdpart {
    box-sizing: border-box;
    font-family: 'Slackey', sans-serif;
}

.Resurgence .thirdpart .thirdcontents {
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.Resurgence .thirdparttext {
    padding: 30px;
    width: 60%;

}

.Resurgence .thirdpartimage {
    width: 40%;
}

.Resurgence .thirdpartimage img {
    width: 100%;
    height: 100%;
    display: block;
}


.copyright {
    text-align: left;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: yellow;
    box-sizing: border-box;
    font-family: 'Spicy Rice', serif;
}





@media (max-width: 800px) {
    body {
        font-size: 16px;
    }

    .HistoryText {
        display: block;
    }

    .intro {
        display: block;
        padding: 0 30px;
        box-sizing: border-box;
    }

    .introLeftText {
        font-size: 30px;
        width: 100%;
        padding: 0;
        margin-bottom: 30px;
    }

    .introRightText {
        width: 100%;
        margin-left: 0;
        box-sizing: border-box;
    }

    .Origin .OriginImage img {
        width: 80%;
        padding-bottom: 10px;
    }

    .FashionText {
        padding: 50px;
        margin-left: 10px;
        margin-right: 10px;
    }


    .OriginText {
        margin-left: 0;
        margin-right: 0;
    }

    .OriginContent{
        background-attachment: local;

    }

    .Music .MusicText {
        width: 100%;
        box-sizing: border-box;
        display: block;
        font-size: 18px;
    }

    .Music .ContentOne {
        display: block;

    }

    .Music .BigImageRight img {
        width: 100%;
    }


    .Music .ContentThree {
        display: block;
    }


    .Music .BigImageLeft img {
        width: 100%;
    }

    .Music .MusicTextBottom {
        font-size: 12px;
    }


    .Music .MusicImage .MusicList img {
        width: 120%;
    }
    .Music .MusicImage{
        background-attachment: local;
    }

    .Resurgence .firstpart .firstcontents {
        display: block;
    }

    .Resurgence .firstparttext {
        font-size: 12px;
        text-align: center;
    }

    .Resurgence .firstpartimage {
        width: 100%;
    }

    .Resurgence .secondpart .secondcontents {
        display: block;
    }

    .Resurgence .secondparttext {
        font-size: 12px;
        text-align: center;
        width: 100%;
        padding: 0px;
        border-bottom: 1px solid white;
        border-top: 1px solid white;

    }

    .Resurgence .secondpartimage {
        width: 100%;
    }

    .Resurgence .thirdpart .thirdcontents{
        display: block;
    }

    .Resurgence .thirdparttext {
        font-size: 12px;
        text-align: center;
        width: 100%;
        padding: 30px;
        box-sizing: border-box;
        border-bottom: 1px solid white;
    }

    .Resurgence .thirdpartimage {
        width: 100%;
    }
}