body {
    color: #333;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

main {
    margin: 40px;
}

h1 {
     font-size: 30px;
     margin-bottom: 40px;
}

.button_container {
    border: 1px solid #ddd;
    margin: 0 10px 10px 0;
    padding: 20px;
    width: 300px;
    height: 300px;
    float: left;
    overflow: hidden;
    box-sizing: border-box;
    text-align: center;
}


/* <spotify> */
a#btn_spotify {
    display: inline-block;
    height: 50px;
    box-sizing: border-box;
    border-radius: 25px;
    margin: auto;
    margin-top: 100px;
    padding: 10px 40px 0 40px;
    background-color: #2ebd59;
    border: 2px solid #2ebd59;
    color: #fff;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-decoration: none;
    transition: all .5s;
}

a#btn_spotify:hover {
    background-color: #fff;
    border: 2px solid #000;
    color: #000;
}

/* <Amazon> */

a#btn_amazon {
    display: block;
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    border-radius: 50px;
    margin: auto;
    margin-top: 75px;
    padding-top: 8px;
    background-color: #232f3e;
    color: #fff;
    text-align: center;
    font-size: 60px;
    transition: all .2s;
}

a#btn_amazon:hover {
    background-color: #fc9a18;
}

/* <Twitter> */

a#btn_twitter {
    display: inline-block;
    height: 40px;
    box-sizing: border-box;
    border-radius: 4px;
    margin: auto;
    margin-top: 105px;
    padding: 10px 30px 0 30px;
    background-color: #56cdf1;
    color: #fff;
    font-size: 18px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    text-decoration: none;
}

a#btn_twitter:hover {

    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#2ebfec+0,28a5cb+100 */
    background: rgb(46,191,236); /* Old browsers */
    background: -moz-linear-gradient(-45deg,  rgba(46,191,236,1) 0%, rgba(40,165,203,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  rgba(46,191,236,1) 0%,rgba(40,165,203,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  rgba(46,191,236,1) 0%,rgba(40,165,203,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2ebfec', endColorstr='#28a5cb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

/* <Indiegogo> */

a#btn_indiegogo {
    display: inline-block;
    position: relative;
    margin:auto;
    margin-top: 100px;
    padding: 8px 16px;
    background-color: #fff;
    color: #eb1478;
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: -2px;
    transition: all .2s;
}

a#btn_indiegogo:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #eb1478;
    transition: all .5s;
}

a#btn_indiegogo:hover {
    color: #fff;
}

a#btn_indiegogo:hover:before {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

a#btn_indiegogo span {
    position: relative;
    z-index: 10;
}



/* <Lyft> */
a#btn_lyft {
    display: inline-block;
    position: relative;
    margin:auto;
    margin-top: 100px;
    padding: 10px 20px 10px 10px;
    background-color: #fff;
    color: #FF00BF;
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
    text-decoration:none;
    letter-spacing: -2px;
}

a#btn_lyft:hover {
    margin-top: 80px;
    transition: all .14s;
}


/* <New Yorker> */

a#btn_newyorker {
    display: inline-block;
    position: relative;
    margin:auto;
    margin-top: 120px;
    padding: 8px 16px;
    background-color: #fff;
    color: #1d1d1d;
    font-family: 'Crimson Text', serif;
    font-size: 20px;
    font-weight: bolder;
    letter-spacing: -1px;
    text-decoration: none;
    white-space: pre-line;
}

a#btn_newyorker:hover {
    font-size: 30px;
    transition: width 2s, height 2s, transform 2s;
}


/* <Exploding Kittens> */

a#btn_explodingkittens {
    display: block;
    width: 150px;
    background-color: grey;
    color: #FCF8EE;
    margin: auto;
    margin-top: 100px;
    padding: 10px 0px 10px 0px;
    box-sizing: border-box;
    border-radius: 8px;
    font-size: 23px;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
}


a#btn_explodingkittens:hover {
    background-color: #b81c27;
    font-family: 'Bebas Neue', sans-serif;
    color: #FCF8EE;
    display: block;
    transform-origin: center;
    animation-name: shake;
    animation-duration: .1s;
    animation-iteration-count:infinite;
}

@keyframes shake {
    from {transform: rotate(2deg);}
    to{ transform: rotate(-2deg);}
}

a#btn_explodingkittens:active {
    background-color: #b81c27;
}


/* <Instagram> */

a#btn_instagram {
    display: block;
    border: #000;
    margin: auto;
    margin-top: 75px;
    color: white;
    background: linear-gradient(to left, #fa7e1e, #962fbf 50%, #4f5bd5 50%);
    background-clip: text;
    background-size: 200% 100%;
    background-position: 100%;
    font-size: 35px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    transition: background-position 275ms ease-in;
}

a#btn_instagram:hover {
    background-position: 0 100%;
}

/* <Facebook> */


a#btn_facebook {
    color:#4267B2;
    display: block;
    padding: 80px 0px 10px 0px;
    box-sizing: border-box;
    border-radius: 8px;
    font-size: 80px;
    font-weight: 300;
    font-style: normal;
    text-decoration: none;

}

a#btn_facebook:hover {
    display: block;
    transform-origin: center;
    animation-duration: .1s;
    animation: spin 5s infinite;
}
@keyframes spin {
    50% {transform: rotate(360deg);}
  }

/* <Samsung> */


    a#btn_samsung{
        display: block;
		margin: auto;
        margin-top: 120px;
        font-size: 20px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: grey;
        text-decoration: none;
        transition: all .2s;
    }

    a#btn_samsung:hover{
        color: #4393f5;
        text-shadow: black;
        text-decoration: none;
        font-weight: 700;
        letter-spacing: 3px;
    }

/* <Electra> */


   a#btn_electra{
        display: inline-block;
        color: rgb(0, 173, 187);
        background-color: white;
        box-sizing: border-box;
        padding: 10px 22px 0 20px;
        height: 50px;
        border: 2px solid rgb(0, 173, 187);
        border-radius: 50%;
        margin: auto;
        margin-top: 100px;
        text-decoration: none;
        transition: transform 2s ease;
        font-family: "futura-pt-condensed", sans-serif;
        font-weight: 800;
        font-style:italic;	
        font-size: 22px;
   }
    
    
   a#btn_electra:hover {
        transform: rotate(360deg);
    }

/* <Garden> */

    a#btn_garden {
        display: block;
        border-radius: 80%;
        background: linear-gradient(to right, #226443 0%,#50b884 45%,#7cfbbb 100%);
        margin: auto;
        width: 150px;
        margin-top: 50px;
        padding: 10px 10px 10px 10px;
        box-shadow: 0 0 5px #006b36;
        color: white;
        font-size: 25px;
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    a#btn_garden:hover {
        width: 200px;
        letter-spacing: 5px;
        transition: .5s;
    }
    
    a#btn_garden:active {
        background: linear-gradient(to right, #d8669d 0%,#d24c8d 45%,#c9317a 100%);
    }
    
/* <Apple> */


    a#btn_apple {
        display: block;
        margin-top: 80px;
        color: grey;
        font-size: 70px;
        text-transform: uppercase;
        text-decoration: none;
        transition: all .5s;
        width: 10px;
        height: 10px;
        transition: width 1s, height 1s;
    }
    
    a#btn_apple:hover {
        color: black;
        width: 250px;
        height: 100px;
    }

/* <Michael Kors> */
    a#btn_mk{
        display: block;
        width: 200px;
        height: 200px;
		margin: auto;
        margin-top: 120px;
        transition: all .3s;
        font-size: 20px;
        color: black;
        text-decoration: none;
        transition: all .2s;

    }

    a#btn_mk:hover{
        transform: scale(1.5, 1);
        transform: skew(0deg, -15deg);
        font-weight: 800;
        letter-spacing: 3px;
    }
