html {
    font-family: 'Archivo Narrow', sans-serif;
}


header {
    background-image: url("../img/washu.jpg");
    text-align: center;
    width: 100%;
}


h1 {
    font-size: 80px;
    margin: -3px;
}

h2 {
    font-size: 30px;
    line-height: 1.1;
    margin: 7px;

}

h3 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 30px;
    padding-top: 30px;

}



/* headers */

header>.column_container {
    padding-top: 170px;
    padding-bottom: 170px;
}

/* //headers */


.intro_text {
    background: rgb(113, 202, 113);
}

.intro_text>.column_container {
    width: 960px;
    margin: auto;
    padding: 20px 0 40px 0;
}

.intro_text>.column_container>h3 {
    color: black;
    text-align: center;
}

.intro_text>.column_container>p {
    color: black;
    font-size: 18px;
    line-height: 25px;
    padding-bottom: 30px;
}

.intro_text>.column_container>img {
    width: 400px;
    height: 300px;
    float: right;
    padding-left: 39px;
    padding-bottom: 19px;
}

.flex_parent_example {
    width: 960px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.flex_parent_example>.flex_child_example {
    width: 50%;
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}


.flex_child_example>img {
    width: 200px;
    height: 150px;
    float: left;
    padding-left: 0px;
    padding-right: 12px;
    margin-top: -8px;

}


.img {
    width: 200px;
    height: 150px;
    float: left;
    padding-left: 0px;
    padding-right: 12px;
    margin-top: -8px;
}



/* .caption{
    width: 423px;
    margin-top: -26px;
    font-size: 18px;
    line-height: 25px;
    color: black;
} */


h4 {
    font-size: 20px;
    color: black;
    margin-bottom: 10px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 980px;
    margin: auto;
    background: beige;
}

.content_grid
{
    background: beige;
    padding-bottom: 30px;
    padding-top: 20px;

}


.grid-section {
    margin-top: -1px;
    width: 50%;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

.grid-section>img {
    width: 200px;
    height: 150px;
}

.grid-section>.text_container {
    width: 100%;
    margin-left: 10px;
    
}


.column_container img {
    width: 400px;
    height: 300px;
    float: right;
    padding-right: 1px;
    padding-left: 39px;
    padding-bottom: 19px;
}

.captions {
    font-size: 18px;
    line-height: 25px;
    color: black;
}

.closing_summary{
    background: rgb(104, 200, 207);
    padding-top: 20px;
    padding-bottom: 10px;
}

p.last{
    text-align: center;
    padding-bottom: 60px;
    margin: auto;
    width: 960px;
    font-size: 26px;
    line-height: 40px;
}


.copyright > p{
font-size: 18px;
width: 960px;
margin: auto;
}

.copyright{
    text-align: left;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
    background: rgb(168, 111, 55);
}
