html {
    color: orange;
    font-family: 'Open Sans', sans-serif;
    font-size: 15pt
  }


header{
    text-align: center;
    font-size:x-large
}
  body {
    background-color: red;
    font-size: 12pt
  }

  main {
    text-align: left;
  }